In [1]:
import pandas as pd

# Source Standford Social Science Collection
## Data collection period  July 13, 2017-August 1, 2017

In [2]:
'''duration,
xlgb
S1 are u married
S2 do you have a bf,gf,sexual/romantic partner
S3 have u ever had a bf,gf,sexual/romantic partner
Q5 is your partner same sex as you
Q32 did you choose an internet service to meet
Q17A including current one, how many times have u been married
Q21A_Year in what year did you first meet
Q21B_Year in what year did you first have a romantic relationship
Q21D_Year in what year did you marry

'''

'duration,\nxlgb\nS1 are u married\nS2 do you have a bf,gf,sexual/romantic partner\nS3 have u ever had a bf,gf,sexual/romantic partner\nQ5 is your partner same sex as you\nQ32 did you choose an internet service to meet\nQ17A including current one, how many times have u been married\nQ21A_Year in what year did you first meet\nQ21B_Year in what year did you first have a romantic relationship\nQ21D_Year in what year did you marry\n\n'

In [6]:
data = pd.io.stata.read_stata('HCMST 2017 fresh sample for public sharing draft v1.1.dta')
data.to_csv('HCMST 2017 fresh sample for public sharing draft v1.1.csv')
raw=pd.read_csv('HCMST 2017 fresh sample for public sharing draft v1.1.csv')
raw.head()

,Unnamed: 0,CaseID,CASEID_NEW,qflag,weight1,weight1_freqwt,weight2,weight1a,weight1a_freqwt,weight_combo,...,hcm2017q24_met_through_family,hcm2017q24_met_through_friend,hcm2017q24_met_through_as_nghbrs,hcm2017q24_met_as_through_cowork,w6_subject_race,interracial_5cat,partner_mother_yrsed,subject_mother_yrsed,partner_yrsed,subject_yrsed
0,0,2,2014039,Qualified,NaN,NaN,0.8945,NaN,NaN,0.277188,...,no,no,no,no,White,no,12.0,14.0,12.0,14.0
1,1,3,2019003,Qualified,0.9078,71115.0,NaN,0.9026,70707.0,1.020621,...,no,no,no,yes,White,no,12.0,16.0,17.0,17.0
2,2,5,2145527,Qualified,0.7205,56442.0,NaN,0.7164,56121.0,0.810074,...,no,no,no,no,White,no,9.0,7.5,14.0,17.0
3,3,6,2648857,Qualified,1.2597,98682.0,1.3507,1.2524,98110.0,0.418556,...,no,no,no,no,White,no,16.0,12.0,12.0,12.0
4,4,7,2623465,Qualified,0.8686,68044.0,NaN,0.8636,67652.0,0.976522,...,no,no,yes,no,White,no,14.0,17.0,16.0,16.0

In [11]:
useful_columns=['xlgb','S1','S2','S3','Q5','Q32','Q17A','Q21A_Year','Q21B_Year','Q21D_Year']
df=raw[useful_columns]

,xlgb,S1,S2,S3,Q5,Q32,Q17A,Q21A_Year,Q21B_Year,Q21D_Year
0,LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1983,1995,1996
2,gen pop,"Yes, I am Married",NaN,NaN,NaN,"Yes, an Internet dating or matchmaking site (l...",Once (this is my first marriage),2006,2006,2008
3,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1983,1983,1984
5,gen pop,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1981,1982,1982
6,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1966,1967,1969
7,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1967,1967,1970
8,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",No,NaN,NaN,NaN,NaN,NaN,NaN
9,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
10,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),2008,2008,2008
11,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
12,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
13,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
14,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),2007,2011,2012
15,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),2002,2004,2011
16,gen pop,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2007,2007,NaN
17,gen pop,"Yes, I am Married",NaN,NaN,"Yes, we are a same-sex couple","Yes, an Internet chat room",Once (this is my first marriage),2002,2002,2007
18,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Four or more times,2004,2006,2007
19,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1973,1974,1974
20,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1995,1995,2000
21,LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
22,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
23,gen pop,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",NaN,2008,2011,NaN
24,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),2000,2000,2008
25,gen pop,"Yes, I am Married",NaN,NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1990,1990,1990
26,gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
27,gen pop,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",NaN,2014,2015,NaN
28,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2012,2017,NaN
29,gen pop,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,NaN,"No, I did NOT meet [Partner Name] through the ...",NaN,2010,2010,NaN
...,...,...,...,...,...,...,...,...,...,...
3480,LGB sample,"Yes, I am Married",NaN,NaN,"Yes, we are a same-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1994,1994,2012
3481,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"Yes, we are a same-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2011,2013,NaN
3482,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","Yes, an Internet dating or matchmaking site (l...",NaN,2015,2015,NaN
3483,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),2008,2008,2011
3484,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2010,2011,NaN
3485,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"Yes, we are a same-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2011,2012,NaN
3486,LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
3487,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Three times,1996,2001,2014
3488,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1987,1988,1990
3489,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Twice,1998,1998,1998
3490,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2014,2014,NaN
3491,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),2000,2000,2011
3492,LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
3493,LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
3494,LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
3495,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"Yes, we are a same-sex couple","Yes, an app on my phone (like Tinder or Grindr)",NaN,2016,2017,NaN
3496,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1998,1999,1999
3497,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2011,2011,NaN
3498,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","Yes, a social networking site (like Facebook o...",Once (this is my first marriage),2015,2015,2016
3499,LGB sample,"No, I am not Married",I have a romantic partner who is not yet a sex...,NaN,"No, we are an opposite-sex couple","Yes, an Internet dating or matchmaking site (l...",NaN,2013,2014,NaN
3500,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Twice,1978,1978,1980
3501,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,2016,2016,NaN
3502,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",Once (this is my first marriage),1996,1996,2001
3503,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","No, I did NOT meet [Partner Name] through the ...",NaN,1994,1994,NaN
3504,LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,NaN,NaN,NaN,NaN,NaN,NaN
3505,LGB sample,"Yes, I am Married",NaN,NaN,"No, we are an opposite-sex couple","Yes, an app on my phone (like Tinder or Grindr)",Once (this is my first marriage),2015,2015,2017
3506,LGB sample,"No, I am not Married",I have a romantic partner who is not yet a sex...,NaN,"Yes, we are a same-sex couple","Yes, an app on my phone (like Tinder or Grindr)",NaN,2016,2017,NaN
3507,LGB sample,"Yes, I am Married",NaN,NaN,"Yes, we are a same-sex couple","Yes, an app on my phone (like Tinder or Grindr)",Once (this is my first marriage),2012,2012,2016
3508,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"Yes, we are a same-sex couple","Yes, an Internet dating or matchmaking site (l...",NaN,2014,2015,NaN
3509,LGB sample,"No, I am not Married","Yes, I have a sexual partner (boyfriend or gir...",NaN,"No, we are an opposite-sex couple","Yes, an Internet dating or matchmaking site (l...",NaN,2015,2015,NaN

In [158]:
df.dtypes

LGB                       object
Married(Y/N)              object
Partner(Y/N)              object
Ever_have_partner(Y/N)    object
Same_sex_partner(Y/N)     object
Internet_service_used     object
No_of_marriage            object
Year_met                  object
Year_together             object
Year_married              object
dtype: object

In [159]:
#Renaming column heads
df.columns=["LGB","Married(Y/N)","Partner(Y/N)","Ever_have_partner(Y/N)","Same_sex_partner(Y/N)","Internet_service_used","No_of_marriage","Year_met","Year_together","Year_married"]
df.shape

(3510, 10)

In [160]:
#Replacing variables on first 6 columns with better naming
clean_1=df.replace('gen pop','General').replace('LGB sample', 'LGB').replace('No, I am not Married','N').replace('Yes, I am Married','Y').replace('No, I am single, with no boyfriend, no girlfriend and no romantic or sexual partner','N').replace('Yes, I have a sexual partner (boyfriend or girlfriend)','Y').replace('I have a romantic partner who is not yet a sexual partner','Y').replace('No, we are an opposite-sex couple','N').replace('Yes, we are a same-sex couple','Y').replace('No, I did NOT meet [Partner Name] through the Internet','N').replace('Yes, an Internet dating or matchmaking site (like eHarmony or match.com)','Matchmaking site')

In [161]:
#Replacing variables of 'Internet_service_used' column
clean_2=clean_1.replace('Yes, an Internet dating or matchmaking site (like eHarmony or match.com)','Matchmaking site').replace('Yes, an app on my phone (like Tinder or Grindr)','Dating App').replace('Yes, an Internet chat room','Others').replace('Yes, an Internet classified advertising site (like Craigslist)','Others').replace('Yes, a social networking site (like Facebook or Myspace)','Social networking site').replace('Yes, a different kind of Internet service','Others').replace('Refused','Others')

In [162]:
clean_2

,LGB,Married(Y/N),Partner(Y/N),Ever_have_partner(Y/N),Same_sex_partner(Y/N),Internet_service_used,No_of_marriage,Year_met,Year_together,Year_married
0,LGB,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),1983,1995,1996
2,General,Y,NaN,NaN,NaN,Matchmaking site,Once (this is my first marriage),2006,2006,2008
3,General,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),1983,1983,1984
5,General,Y,NaN,NaN,N,N,Once (this is my first marriage),1981,1982,1982
6,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),1966,1967,1969
7,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),1967,1967,1970
8,General,N,N,No,NaN,NaN,NaN,NaN,NaN,NaN
9,General,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
10,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),2008,2008,2008
11,General,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
12,General,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
13,General,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
14,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),2007,2011,2012
15,LGB,Y,NaN,NaN,N,N,Once (this is my first marriage),2002,2004,2011
16,General,N,Y,NaN,N,N,NaN,2007,2007,NaN
17,General,Y,NaN,NaN,Y,Others,Once (this is my first marriage),2002,2002,2007
18,General,Y,NaN,NaN,NaN,N,Four or more times,2004,2006,2007
19,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),1973,1974,1974
20,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),1995,1995,2000
21,LGB,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
22,General,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
23,General,N,Y,NaN,NaN,N,NaN,2008,2011,NaN
24,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),2000,2000,2008
25,General,Y,NaN,NaN,NaN,N,Once (this is my first marriage),1990,1990,1990
26,General,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
27,General,N,Y,NaN,NaN,N,NaN,2014,2015,NaN
28,LGB,N,Y,NaN,N,N,NaN,2012,2017,NaN
29,General,N,Y,NaN,NaN,N,NaN,2010,2010,NaN
...,...,...,...,...,...,...,...,...,...,...
3480,LGB,Y,NaN,NaN,Y,N,Once (this is my first marriage),1994,1994,2012
3481,LGB,N,Y,NaN,Y,N,NaN,2011,2013,NaN
3482,LGB,N,Y,NaN,N,Matchmaking site,NaN,2015,2015,NaN
3483,LGB,Y,NaN,NaN,N,N,Once (this is my first marriage),2008,2008,2011
3484,LGB,N,Y,NaN,N,N,NaN,2010,2011,NaN
3485,LGB,N,Y,NaN,Y,N,NaN,2011,2012,NaN
3486,LGB,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3487,LGB,Y,NaN,NaN,N,N,Three times,1996,2001,2014
3488,LGB,Y,NaN,NaN,N,N,Once (this is my first marriage),1987,1988,1990
3489,LGB,Y,NaN,NaN,N,N,Twice,1998,1998,1998
3490,LGB,N,Y,NaN,N,N,NaN,2014,2014,NaN
3491,LGB,Y,NaN,NaN,N,N,Once (this is my first marriage),2000,2000,2011
3492,LGB,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3493,LGB,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3494,LGB,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3495,LGB,N,Y,NaN,Y,Dating App,NaN,2016,2017,NaN
3496,LGB,Y,NaN,NaN,N,N,Once (this is my first marriage),1998,1999,1999
3497,LGB,N,Y,NaN,N,N,NaN,2011,2011,NaN
3498,LGB,Y,NaN,NaN,N,Social networking site,Once (this is my first marriage),2015,2015,2016
3499,LGB,N,Y,NaN,N,Matchmaking site,NaN,2013,2014,NaN
3500,LGB,Y,NaN,NaN,N,N,Twice,1978,1978,1980
3501,LGB,N,Y,NaN,N,N,NaN,2016,2016,NaN
3502,LGB,Y,NaN,NaN,N,N,Once (this is my first marriage),1996,1996,2001
3503,LGB,N,Y,NaN,N,N,NaN,1994,1994,NaN
3504,LGB,N,N,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3505,LGB,Y,NaN,NaN,N,Dating App,Once (this is my first marriage),2015,2015,2017
3506,LGB,N,Y,NaN,Y,Dating App,NaN,2016,2017,NaN
3507,LGB,Y,NaN,NaN,Y,Dating App,Once (this is my first marriage),2012,2012,2016
3508,LGB,N,Y,NaN,Y,Matchmaking site,NaN,2014,2015,NaN
3509,LGB,N,Y,NaN,N,Matchmaking site,NaN,2015,2015,NaN

In [96]:
#Replacing variables of 'No_of_marriage' column
clean_3=clean_2.replace({'Once (this is my first marriage)':'1','Twice':'2','Three times':'3','Four or more times':'4 or more'})

In [113]:
#Fill nan entries with zeros 
clean_3[['Year_met','Year_together','Year_married']]=clean_3[['Year_met','Year_together','Year_married']].fillna(0)

In [166]:
#Replace the rest of values with zeros
clean_3['Year_together'].replace('Others','0',inplace=True)
clean_3['Year_met'].replace('Others','0',inplace=True)
clean_3['Year_married'].replace('Others','0',inplace=True)

In [167]:
#Change data type to perform mathematical calculation
clean_3[['Year_together','Year_met','Year_married']]=clean_3[['Year_together','Year_met','Year_married']].astype('int')

In [174]:
#Creating new column of difference between 'Year_together' and 'Year_met'
clean_3[['Met_to_together']]=(clean_3['Year_together']-clean_3['Year_met'])

In [176]:
#Drop columns created mistakenly
for_plot=clean_3.drop(columns='Met_to_marriage')

In [177]:
for_plot

,LGB,Married(Y/N),Partner(Y/N),Ever_have_partner(Y/N),Same_sex_partner(Y/N),yy,No_of_marriage,Year_met,Year_together,Year_married,Met_to_together
0,LGB,N,N,Yes,NaN,NaN,NaN,0,0,0,0
1,General,Y,NaN,NaN,NaN,N,1,1983,1995,1996,12
2,General,Y,NaN,NaN,NaN,Matchmaking site,1,2006,2006,2008,0
3,General,N,N,Yes,NaN,NaN,NaN,0,0,0,0
4,General,Y,NaN,NaN,NaN,N,1,1983,1983,1984,0
5,General,Y,NaN,NaN,N,N,1,1981,1982,1982,1
6,General,Y,NaN,NaN,NaN,N,1,1966,1967,1969,1
7,General,Y,NaN,NaN,NaN,N,1,1967,1967,1970,0
8,General,N,N,No,NaN,NaN,NaN,0,0,0,0
9,General,N,N,Yes,NaN,NaN,NaN,0,0,0,0
10,General,Y,NaN,NaN,NaN,N,1,2008,2008,2008,0
11,General,N,N,Yes,NaN,NaN,NaN,0,0,0,0
12,General,N,N,Yes,NaN,NaN,NaN,0,0,0,0
13,General,N,N,Yes,NaN,NaN,NaN,0,0,0,0
14,General,Y,NaN,NaN,NaN,N,1,2007,2011,2012,4
15,LGB,Y,NaN,NaN,N,N,1,2002,2004,2011,2
16,General,N,Y,NaN,N,N,NaN,2007,2007,0,0
17,General,Y,NaN,NaN,Y,Others,1,2002,2002,2007,0
18,General,Y,NaN,NaN,NaN,N,4 or more,2004,2006,2007,2
19,General,Y,NaN,NaN,NaN,N,1,1973,1974,1974,1
20,General,Y,NaN,NaN,NaN,N,1,1995,1995,2000,0
21,LGB,N,N,Yes,NaN,NaN,NaN,0,0,0,0
22,General,N,N,Yes,NaN,NaN,NaN,0,0,0,0
23,General,N,Y,NaN,NaN,N,NaN,2008,2011,0,3
24,General,Y,NaN,NaN,NaN,N,1,2000,2000,2008,0
25,General,Y,NaN,NaN,NaN,N,1,1990,1990,1990,0
26,General,N,N,Yes,NaN,NaN,NaN,0,0,0,0
27,General,N,Y,NaN,NaN,N,NaN,2014,2015,0,1
28,LGB,N,Y,NaN,N,N,NaN,2012,2017,0,5
29,General,N,Y,NaN,NaN,N,NaN,2010,2010,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3480,LGB,Y,NaN,NaN,Y,N,1,1994,1994,2012,0
3481,LGB,N,Y,NaN,Y,N,NaN,2011,2013,0,2
3482,LGB,N,Y,NaN,N,Matchmaking site,NaN,2015,2015,0,0
3483,LGB,Y,NaN,NaN,N,N,1,2008,2008,2011,0
3484,LGB,N,Y,NaN,N,N,NaN,2010,2011,0,1
3485,LGB,N,Y,NaN,Y,N,NaN,2011,2012,0,1
3486,LGB,N,N,Yes,NaN,NaN,NaN,0,0,0,0
3487,LGB,Y,NaN,NaN,N,N,3,1996,2001,2014,5
3488,LGB,Y,NaN,NaN,N,N,1,1987,1988,1990,1
3489,LGB,Y,NaN,NaN,N,N,2,1998,1998,1998,0
3490,LGB,N,Y,NaN,N,N,NaN,2014,2014,0,0
3491,LGB,Y,NaN,NaN,N,N,1,2000,2000,2011,0
3492,LGB,N,N,Yes,NaN,NaN,NaN,0,0,0,0
3493,LGB,N,N,Yes,NaN,NaN,NaN,0,0,0,0
3494,LGB,N,N,Yes,NaN,NaN,NaN,0,0,0,0
3495,LGB,N,Y,NaN,Y,Dating App,NaN,2016,2017,0,1
3496,LGB,Y,NaN,NaN,N,N,1,1998,1999,1999,1
3497,LGB,N,Y,NaN,N,N,NaN,2011,2011,0,0
3498,LGB,Y,NaN,NaN,N,Social networking site,1,2015,2015,2016,0
3499,LGB,N,Y,NaN,N,Matchmaking site,NaN,2013,2014,0,1
3500,LGB,Y,NaN,NaN,N,N,2,1978,1978,1980,0
3501,LGB,N,Y,NaN,N,N,NaN,2016,2016,0,0
3502,LGB,Y,NaN,NaN,N,N,1,1996,1996,2001,0
3503,LGB,N,Y,NaN,N,N,NaN,1994,1994,0,0
3504,LGB,N,N,Yes,NaN,NaN,NaN,0,0,0,0
3505,LGB,Y,NaN,NaN,N,Dating App,1,2015,2015,2017,0
3506,LGB,N,Y,NaN,Y,Dating App,NaN,2016,2017,0,1
3507,LGB,Y,NaN,NaN,Y,Dating App,1,2012,2012,2016,0
3508,LGB,N,Y,NaN,Y,Matchmaking site,NaN,2014,2015,0,1
3509,LGB,N,Y,NaN,N,Matchmaking site,NaN,2015,2015,0,0