# Source: data.world  
# Date created: May 2017

In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('Tinder Millennial Match Rate Dataset.csv').drop([3,4,5])

In [3]:
raw.reset_index().drop(columns='index')

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,Have you ever met up with someone off tinder?,Mobile,Mobile respondents,Yes,797,0.207
1,Have you ever met up with someone off tinder?,Mobile,Mobile respondents,No,1969,0.511
2,Have you ever met up with someone off tinder?,Mobile,Mobile respondents,I don't use Tinder,1090,0.283
3,Have you ever met up with someone off tinder?,Gender,Male respondents,Yes,472,0.213
4,Have you ever met up with someone off tinder?,Gender,Male respondents,No,1172,0.528
5,Have you ever met up with someone off tinder?,Gender,Male respondents,I don't use Tinder,574,0.259
6,Have you ever met up with someone off tinder?,Gender,Female respondents,Yes,325,0.198
7,Have you ever met up with someone off tinder?,Gender,Female respondents,No,797,0.487
8,Have you ever met up with someone off tinder?,Gender,Female respondents,I don't use Tinder,516,0.315
9,Have you ever met up with someone off tinder?,University,Chapman University,Yes,13,0.206
10,Have you ever met up with someone off tinder?,University,Chapman University,No,31,0.492
11,Have you ever met up with someone off tinder?,University,Chapman University,I don't use Tinder,19,0.302
12,Have you ever met up with someone off tinder?,University,Cornell University,Yes,47,0.244
13,Have you ever met up with someone off tinder?,University,Cornell University,No,95,0.492
14,Have you ever met up with someone off tinder?,University,Cornell University,I don't use Tinder,51,0.264
15,Have you ever met up with someone off tinder?,University,Duke University,Yes,0,0.000
16,Have you ever met up with someone off tinder?,University,Duke University,No,2,0.667
17,Have you ever met up with someone off tinder?,University,Duke University,I don't use Tinder,1,0.333
18,Have you ever met up with someone off tinder?,University,George Washington University,Yes,1,0.250
19,Have you ever met up with someone off tinder?,University,George Washington University,No,3,0.750
20,Have you ever met up with someone off tinder?,University,George Washington University,I don't use Tinder,0,0.000
21,Have you ever met up with someone off tinder?,University,Georgetown University,Yes,2,0.500
22,Have you ever met up with someone off tinder?,University,Georgetown University,No,1,0.250
23,Have you ever met up with someone off tinder?,University,Georgetown University,I don't use Tinder,1,0.250
24,Have you ever met up with someone off tinder?,University,Harvard University,Yes,1,0.333
25,Have you ever met up with someone off tinder?,University,Harvard University,No,2,0.667
26,Have you ever met up with someone off tinder?,University,Harvard University,I don't use Tinder,0,0.000
27,Have you ever met up with someone off tinder?,University,Indiana University,Yes,9,0.205
28,Have you ever met up with someone off tinder?,University,Indiana University,No,30,0.682
29,Have you ever met up with someone off tinder?,University,Indiana University,I don't use Tinder,5,0.114
...,...,...,...,...,...,...
420,Have you ever met up with someone off tinder?,University,Bucknell University,Yes,1,1.000
421,Have you ever met up with someone off tinder?,University,Bucknell University,No,0,0.000
422,Have you ever met up with someone off tinder?,University,Bucknell University,I don't use Tinder,0,0.000
423,Have you ever met up with someone off tinder?,University,Randolph-Macon College,Yes,0,0.000
424,Have you ever met up with someone off tinder?,University,Randolph-Macon College,No,0,0.000
425,Have you ever met up with someone off tinder?,University,Randolph-Macon College,I don't use Tinder,1,1.000
426,Have you ever met up with someone off tinder?,University,Old Dominion University,Yes,1,1.000
427,Have you ever met up with someone off tinder?,University,Old Dominion University,No,0,0.000
428,Have you ever met up with someone off tinder?,University,Old Dominion University,I don't use Tinder,0,0.000
429,Have you ever met up with someone off tinder?,University,University of Tampa,Yes,0,0.000
430,Have you ever met up with someone off tinder?,University,University of Tampa,No,1,1.000
431,Have you ever met up with someone off tinder?,University,University of Tampa,I don't use Tinder,0,0.000
432,Have you ever met up with someone off tinder?,University,Roger Williams University,Yes,0,0.000
433,Have you ever met up with someone off tinder?,University,Roger Williams University,No,1,1.000
434,Have you ever met up with someone off tinder?,University,Roger Williams University,I don't use Tinder,0,0.000
435,Have you ever met up with someone off tinder?,University,Penn State University,Yes,4,0.400
436,Have you ever met up with someone off tinder?,University,Penn State University,No,5,0.500
437,Have you ever met up with someone off tinder?,University,Penn State University,I don't use Tinder,1,0.100
438,Have you ever met up with someone off tinder?,University,Minnesota State University Mankato,Yes,1,1.000
439,Have you ever met up with someone off tinder?,University,Minnesota State University Mankato,No,0,0.000
440,Have you ever met up with someone off tinder?,University,Minnesota State University Mankato,I don't use Tinder,0,0.000
441,Have you ever met up with someone off tinder?,University,University of Florida,Yes,0,0.000
442,Have you ever met up with someone off tinder?,University,University of Florida,No,1,1.000
443,Have you ever met up with someone off tinder?,University,University of Florida,I don't use Tinder,0,0.000
444,Have you ever met up with someone off tinder?,University,Boston College,Yes,0,0.000
445,Have you ever met up with someone off tinder?,University,Boston College,No,4,0.800
446,Have you ever met up with someone off tinder?,University,Boston College,I don't use Tinder,1,0.200
447,Have you ever met up with someone off tinder?,University,Boston University,Yes,2,0.333
448,Have you ever met up with someone off tinder?,University,Boston University,No,3,0.500
449,Have you ever met up with someone off tinder?,University,Boston University,I don't use Tinder,1,0.167

In [40]:
male=raw.iloc[3:6]
male

,Question,Segment Type,Segment Description,Answer,Count,Percentage
6,Have you ever met up with someone off tinder?,Gender,Male respondents,Yes,472,0.213
7,Have you ever met up with someone off tinder?,Gender,Male respondents,No,1172,0.528
8,Have you ever met up with someone off tinder?,Gender,Male respondents,I don't use Tinder,574,0.259

In [43]:
female=raw.iloc[6:9]
female

,Question,Segment Type,Segment Description,Answer,Count,Percentage
9,Have you ever met up with someone off tinder?,Gender,Female respondents,Yes,325,0.198
10,Have you ever met up with someone off tinder?,Gender,Female respondents,No,797,0.487
11,Have you ever met up with someone off tinder?,Gender,Female respondents,I don't use Tinder,516,0.315

uni=raw.iloc[10:]
uni

In [56]:
uni=raw.iloc[10:].groupby('Answer',as_index=False).agg({'Count':'sum'})
uni.agg({'Count':'sum'})

Count    2410
dtype: int64

In [60]:
percentage= [uni['Count'].iloc[i]/2410 for i in range(3)]

In [63]:
uni['Percentage']=percentage
uni

               Answer  Count  Percentage
0  I don't use Tinder    600    0.248963
1                  No   1289    0.534855
2                 Yes    521    0.216183